/* Responsive cols from INF-124 */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

body {
  font-family: 'Karla', sans-serif;
}

header {
  margin: 45px;
}

footer {
  margin: 45px 75px;
}

.header-brand {
  font-weight: 600;
  color: rgb(66, 66, 66);
}

.navigation {
  font-size: 20px;
}

.links {
  color: rgb(66, 66, 66);;
  padding: 10px;
}

/* Reference: https://stackoverflow.com/questions/2041388/how-to-remove-the-underline-for-anchorslinks */
a {
  text-decoration: none !important;
}

.experience-item {
  margin: 45px 75px;
  text-align: left;
}

h1 {
  font-weight: 600;
}

img {
    max-width: 100%;
    max-height: 100%;
}